@import "tailwindcss";

@theme {
  --color-secondary-blue: #0077b6;
  --color-primary-blue: #05629b;
  --color-secondary-gray: #d9d9d940;
  --color-sec-blue: #084870;
  --color-access-2: #f4f6f9;
  --color-accent-1: #d9d9d966;
  --breakpoint-xs: 420px;
  --color-backForm-gray: #ffffffd6;
}

.btn-xx {
  @apply bg-secondary-blue rounded-[7px] text-white font-semibold px-2 sm:py-1 py-[2px];
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  @apply sm:text-[14.5px] text-[14px];
}

.word-spacing-custom {
  word-spacing: 0.1rem;
}

.hero {
  position: relative;
  background: url("/public/img/blackDoc.jpg"), linear-gradient(black, black);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Adjust opacity as needed */
  z-index: 1;
}

.hero > * {
  position: relative;
  z-index: 2; /* Ensure content is above overlay */
}

.autoDisplay {
  animation: autoDisplay both;
  animation-timeline: view(70% 5%);
}

@keyframes autoDisplay {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
